<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>KSphere lets you search Slack for knowledgeable people in your team</h1>
    <h2>So you can know who to turn to with your questions</h2>
    <a href="https://slack.com/oauth/authorize?scope=commands,search:read,channles:write,groups:write&client_id=<%=config.get('slack.client_id')%>"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
	</div>
</div>
