<div class="row">
	<div class="col-md-6 col-md-offset-3">
    <h3>Welcome, <strong><%=user.profile.first_name%></strong>, You're good to go.</h3>
		<h3>You can go back to Slack now, you'll find out we created the channel you wanted and invited the people we found for you to discuss your question.</h3>
		<h4 style="margin-top:50px;">For feedback & support, please contact <a href="mailto:shaharasol@tikalk.com">shaharasol@tikalk.com</a></h4>

	</div>
</div>
