<div class="row">
	<div class="col-md-6 col-md-offset-3">
    <h3>Welcome, <strong><%=team.team_name%></strong>, You're good to go</h3>
		<h4 style="margin-top:50px;">For feedback & support, please contact <a href="mailto:shaharasol@tikalk.com">shaharasol@tikalk.com</a></h4>

	</div>
</div>
